body{
    background-color: black;
    color: gold;
    margin: 5px;
    border: 5px solid gold;
}
h1{
    text-align: center;
    text-shadow:  2px 2px 2px orange ;
}
h2{
    margin-left: 10px;
    text-decoration: underline;
    text-shadow:  2px 2px 2px orange ;
}
p{
    margin: 20px;
    text-align: justify;
}
ul{
    list-style: circle;
}
a{
    color: orange;
}
a:hover{
    color: orange;
}
table{
    margin: auto;
    margin-bottom: 30px;
}
button{
    color: gold;
    background-color: black;
    border: solid 3px darkgoldenrod;
    font-weight: bold;
}
#thumbnail{
    float: right;
    border: 3px solid gold;
    margin: 20px;
}
.dőlt{
    font-style: italic;
    color: darkgoldenrod;
}
.kövér{
    font-weight: bold;
    color: darkgoldenrod;
}
.aláhúzás{
    text-decoration: underline;
    color: darkgoldenrod;
}