h1 {
    text-align: center;
    color: gold;
    margin: left 5%;
    margin: right 5%;
    font-weight: bolder;

}
body {
    background-color: black;
    color: orange;
    margin-right: 10%;
    margin-left: 5%;
    border: 5px solid orange;
    padding: 3px;
}
p {
    color: orange;
}
h2 {
    color: gold;
    font-weight: bolder;
    margin: right 10%;
    margin-left: 5%;
}
.kiemelés {
    font-size: large;
    font-weight: bolder;
    color: gold;
    margin-left: 2%;
}
#kép {
    float: right;
    height: 20%;
    width: 20%;
    border: 5px solid orange;
    padding: 3px;
}

