
body {
    background-color: black;
    color: gold;
    margin: 1%;
    border: 5px solid gold;
}
h1 {
    text-align: center;
    color: gold;
    font-weight: bolder;
    text-shadow:  2px 2px 2px orange ;
}
p {
    margin-left: 20px;
}
h2 {
    color: gold;
    font-weight: bolder;
    text-decoration: underline;
    margin-left: 15px;
    text-shadow:  2px 2px 2px orange ;
}
h3{
    font-size: large;
    font-weight: bolder;
    color: darkgoldenrod;
    margin-left: 2%;
}
#kép{
    float: right;
    border: 5px solid gold;
    margin: 20px;
}
.kövér{
    font-weight: bold;
    color: darkgoldenrod;
}
.dőlt{
    font-style: italic;
    color: darkgoldenrod;
}
.aláhúzás{
    text-decoration: underline;
    color: darkgoldenrod;
}
li{
    color: orange;
}
a{
    color: orange;
}
a:hover{
    color: gold;
}
table{
    margin: auto;
    margin-bottom: 30px;
}
td{
    padding: 5px;
}