body{
    background-image: url(MenuBackground.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    color: gold;
    
}
h1{
    color: gold;
    text-align: center;
    text-shadow:  2px 2px 2px orange ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
h2{
    color: gold;
    text-shadow:  1px 1px 1px orange ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    margin-left: 15px;
    text-decoration: underline;
}
ul{
    margin: 20px;
    background-color: black;
    list-style: square;
}
table{
    background-color: black;
    border: 3 solid gold;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-collapse: collapse;
}
td{
    margin: 3px;
}
p{
    margin: 20px;
    background-color: gray;
    border: solid black 2px;
    padding: 5px;
    color: gold;
    text-align: justify;
}
th, td{
    border: solid gold 3px;
    border-collapse: collapse;
    color: gold;
}
.Cím{
    text-shadow: 1px 1px 1px orange ;
    font-weight: bold;
    font-size: 1.5em;
}
#vonal{
    height: 10px;
    background-color: gold;
    margin: 10px;
    margin-right: 20%;
}
li{
    color: orange;
}
a{
    color: orange;
}
a:hover{
    color: orange;
}
tr td:hover{
    background-color: rgb(50, 50, 50);
}
video{
    width: 500px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
#videó{
    margin-left: 0px;
    text-align: center;
}